<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="InfoConnectionString" connectionString="Data Source=co-web-3.lboro.ac.uk;User ID=team17;Password=g6g88fcv"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
