<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="LoginConnectionString" connectionString="Data Source=co-web-3.lboro.ac.uk;User ID=team17;Password=g6g88fcv"
            providerName="System.Data.SqlClient" />
    
    <add name="team17ConnectionString" connectionString="Data Source=co-web-3.lboro.ac.uk;Initial Catalog=team17;User ID=team17;Password=g6g88fcv" providerName="System.Data.SqlClient"/>
    <add name="InfoConnectionString" connectionString="Data Source=co-web-3.lboro.ac.uk;Initial Catalog=team17;User ID=team17;Password=g6g88fcv" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" urlLinePragmas="true"/>
    <customErrors mode="Off"/>

    <authentication mode="Forms" >
      <forms loginUrl="~/Login1.aspx" timeout="30" protection="Encryption" requireSSL="false" defaultUrl="~/Secure/home.aspx"   />
    </authentication>
  </system.web>

  
    <location path="Secure">    
      <system.web>
        <authorization>
          <deny users="?"/>

        </authorization>
      </system.web>
    </location>


<location path = "Images">
	<system.web>
		<authorization>
			<alow users ="*" />
		</authorization>
	</system.web>
</location>


  <system.web>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
